<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    </style>
</head>
<body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
        <p>Generated url : http://localhost:8000/url/<%= id %></p>
    <% } %>

    <div>
        <form action="/url" method="post">
            <label>Enter your original url</label>
            <input type="text" name="url" placeholder="https://example.com"/>
            <button type="submit">Generate</button>
        </form>
    </div>

    <br/>
    
    <% if (locals.url) { %>
        <table>
            <thead>
                <th>Sr. No</th>
                <th>Short ID</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% locals.url.forEach((curUrl, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= curUrl.shortId %></td>
                        <td><%= curUrl.redirectURL %></td>
                        <td><%= curUrl.visitHistory.length %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>
</html>